<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
<head>
	<title>Practicing Single Page Application</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
    <script src="../app.js"></script>
</head>
<body>
	<h1>Hello World</h1>
</body>
</html>